# ignore the virtual environment
\env

# ignore all PNGs
*.png

# the data is just 3 columns: Date-Amount-Price
# Date - Day I purchased fuel
# Amount - The amount I got for $50 CAD
# Price - Always going to be $50
*.csv